@import url('https://fonts.googleapis.com/css?family=Trirong&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


body{
    box-sizing: border-box;
 
}

nav{
    background-color: #000;
    padding: 20px;
    
}
nav ul{
    display: flex;
    align-items: center;
    margin: auto auto;
    justify-content: space-between;
    
}

#flag{
    border: 2px solid rgb(13, 156, 13);
}
nav ul li a{
    text-decoration: none;
    font-family: "Trirong", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    
}
nav ul li a:link{
    color: #fff
}
nav ul li a:visited{
    color: rgb(248, 112, 191);
}
nav ul li a:hover{
    color: rgb(179, 17, 17);
}

nav ul li a:active{
    color: #5511b3;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 4%
}
.grid-container p{
    line-height: 2rem;
    font-family: "Quicksand", serif;
}
.hero{
    padding: 0 4%;
    /* margin-top: 2%; */
}
.hero h2{
    font-family: "Lora", sans-serif ;
    margin-bottom: 15px;
    margin-top: 2%;
    color: rgb(248, 112, 191);
}
.hero h3{
    line-height: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
#population-table{
    width: 30%
}
#pop-img{
border: 1px solid grey;
border-radius: 10px;
}
th{
    text-align: left;
}
#citizenship-table{
    width: 50%
}
#citizenship-table tr{
    line-height: 1.5rem;
}
footer{
    text-align: center;
    margin-top: 4%;
}
#envi ul{
    line-height: 1.5rem;
}
